<h2>Comments</h2>
{% for v in comments %}
    <article>
        <section>{{ v.body }}</section>
        <dl>
            <dt>Commentator:</dt><dd>{{ v.username }}</dd>
            <dt>Commented on:</dt><dd>{{ v.created }}</dd>
        </dl>
        {% if admin %}
            <a href="/post/{{ v.post_id }}/comment/{{ v.comment_id }}/delete">Delete Comment</a>
        {% endif %}
    </article>
{% endfor %}
