<h2>Post</h2>
<article>
    <header>{{ post.title }}</header>
    <section>{{ post.body }}</section>
    {% if admin %}
        <a href="/post/{{ post.post_id }}/edit">Edit</a>
    {% endif %}
    <div><span>Created:</span><span>{{ post.created }}</span></div>
    <div><span>Last Updated:</span><span>{{ post.updated }}</span></div>
</article>
