

<h2>Post</h2>
<article>
    <header>{{ post.title }}</header>
    <section>{{ post.body }}</section>
    {% if admin %}
        <a href="/post/{{ post.post_id }}/edit">Edit</a>
    {% endif %}
    <dl>
        <dt>Created:</dt><dd>{{ post.created }}</dd>
        <dt>Last Updated:</dt><dd>{{ post.updated }}</dd>
    </dl>
</article>
